In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)',
 'Collecting sqlparse',
 '  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)',
 'Requirement already satisfied: six in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython-sql) (1.16.0)',
 'Collecting sqlalchemy>=2.0',
 '  Downloading SQLAlchemy-2.0.9-cp39-cp39-win_amd64.whl (2.0 MB)',
 'Requirement already satisfied: ipython-genutils in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Collecting prettytable',
 '  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)',
 'Requirement already satisfied: ipython in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython-sql) (8.2.0)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)',
 'Collecting typing-extensions>=4.2.0',
 '  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)',
 'Requirement already satisfied: colorama in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.4.4)',
 'Requirement already satisfied: pygments>=2.4.0 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (2.11.2)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (61.2.0)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (3.0.20)',
 'Requirement already satisfied: pickleshare in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.7.5)',
 'Requirement already satisfied: backcall in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.2.0)',
 'Requirement already satisfied: matplotlib-inline in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.1.2)',
 'Requirement already satisfied: traitlets>=5 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (5.1.1)',
 'Requirement already satisfied: decorator in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (5.1.1)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.18.1)',
 'Requirement already satisfied: stack-data in c:\\users\\sl\\anaconda3\\lib\\site-packages (from ipython->ipython-sql) (0.2.0)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\\users\\sl\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)',
 'Requirement already satisfied: wcwidth in c:\\users\\sl\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)',
 'Requirement already satisfied: pure-eval in c:\\users\\sl\\anaconda3\\lib\\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)',
 'Requirement already satisfied: executing in c:\\users\\sl\\anaconda3\\lib\\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)',
 'Requirement already satisfied: asttokens in c:\\users\\sl\\anaconda3\\lib\\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)',
 'Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql',
 '  Attempting uninstall: typing-extensions',
 '    Found existing installation: typing-extensions 4.1.1',
 '    Uninstalling typing-extensions-4.1.1:',
 '      Successfully uninstalled typing-extensions-4.1.1',
 '  Attempting uninstall: sqlalchemy',
 '    Found existing installation: SQLAlchemy 1.4.32',
 '    Uninstalling SQLAlchemy-1.4.32:',
 '      Successfully uninstalled SQLAlchemy-1.4.32',
 'Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.9 sqlparse-0.4.3 typing-extensions-4.5.0']

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///vbo.db

In [4]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [5]:
%%sql
CREATE TABLE yeni_tablo(firstname varchar(20),
                       lastname varchar(20));

 * sqlite:///vbo.db
Done.

[]

In [8]:
%%sql
INSERT INTO yeni_tablo values("Ali","Uzaya_Git");

 * sqlite:///vbo.db
1 rows affected.

[]

In [12]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('Mehmet', 'Soyadı\r\n'), ('Ali', 'Uzaya_Git'), ('Işık', 'Süte_Devam')]

In [10]:
%%sql
INSERT INTO yeni_tablo values("Işık","Süte_Devam");

 * sqlite:///vbo.db
1 rows affected.

[]

In [14]:
%%sql
SELECT * FROM Products LIMIT 5;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21)]

In [15]:
%%sql
SELECT name FROM sqlite_master WHERE type = "table";

 * sqlite:///vbo.db
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [16]:
%%sql
SELECT * FROM Customers where 1=0;

 * sqlite:///vbo.db
Done.

[]

In [19]:
%%sql
SELECT CustomerName,City FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.')]

In [23]:
%%sql
SELECT Price ,Price * 2,Price*3-100 AS islemli_price FROM Products LIMIT 3;

 * sqlite:///vbo.db
Done.

[(18, 36, -46), (19, 38, -43), (10, 20, -70)]

In [24]:
%%sql
SELECT COUNT(*) AS satir_sayisi FROM Customers;

 * sqlite:///vbo.db
Done.

[(91,)]

In [27]:
%%sql
SELECT * from Products ORDER by Price limit 10;

 * sqlite:///vbo.db
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14)]

In [28]:
%%sql
select * from Customers limit 10;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [32]:
%%sql
select * from Customers where not City = "Berlin" limit 10;

 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

In [35]:
%%sql
SELECT * FROM Customers where PostalCode > 5021;

 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '5033', 'Mexico'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [37]:
%%sql
SELECT * FROM Customers;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
 (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', None, 'Ireland'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
 (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '5033', 'Mexico'),
 (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '1307', 'Germany'),
 (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain'),
 (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark'),
 (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [38]:
%%sql
SELECT count(CustomerID), Country from Customers GROUP BY Country;

 * sqlite:///vbo.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

In [40]:
%%sql
SELECT name FROM qslite_master type = "table";

 * sqlite:///vbo.db
(sqlite3.OperationalError) near "=": syntax error
[SQL: SELECT name FROM qslite_master type = "table";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [41]:
import pandas as pd

In [42]:
import sqlite3

In [43]:
conn = sqlite3.connect("vbo.db")

In [55]:
c = conn.cursor()

In [49]:
pd.read_sql("SELECT COUNT(CustomerID) AS Musteri_Sayisi, Country FROM Customers GROUP BY Country;",conn)

    Musteri_Sayisi      Country
0                3    Argentina
1                2      Austria
2                2      Belgium
3                9       Brazil
4                3       Canada
5                2      Denmark
6                2      Finland
7               11       France
8               11      Germany
9                1      Ireland
10               3        Italy
11               5       Mexico
12               1       Norway
13               1       Poland
14               2     Portugal
15               5        Spain
16               2       Sweden
17               2  Switzerland
18               7           UK
19              13          USA
20               4    Venezuela

In [51]:
#conn.close()

In [56]:
c.execute("SELECT CustomerName FROM Customers LIMIT 5 ;")

In [57]:
c.fetchone()

('Alfreds Futterkiste',)

In [58]:
c.fetchall()

[('Ana Trujillo Emparedados y helados',),
 ('Antonio Moreno Taquería',),
 ('Around the Horn',),
 ('Berglunds snabbköp',)]

In [61]:
%%sql
SELECT Count(DISTINCT CustomerID) FROM Orders

 * sqlite:///vbo.db
Done.

[(74,)]

In [64]:
%%sql
SELECT Count(DISTINCT CustomerID) From Orders;

 * sqlite:///vbo.db
Done.

[(74,)]

In [75]:
%%sql
SELECT Count(Customers.CustomerID) as MS,Country FROM Customers GROUP BY Country ORDER BY MS;

 * sqlite:///vbo.db
Done.

[(1, 'Ireland'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (2, 'Portugal'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (3, 'Argentina'),
 (3, 'Canada'),
 (3, 'Italy'),
 (4, 'Venezuela'),
 (5, 'Mexico'),
 (5, 'Spain'),
 (7, 'UK'),
 (9, 'Brazil'),
 (11, 'France'),
 (11, 'Germany'),
 (13, 'USA')]

In [78]:
%%sql
SELECT * FROM Customers WHERE Country = "Brazil" OR Country = "USA"

 * sqlite:///vbo.db
Done.

[(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [85]:
%%sql
SELECT count(*) AS Musteri_Sayisi , Country, City FROM Customers GROUP BY Country , City;

 * sqlite:///vbo.db
Done.

[(3, 'Argentina', 'Buenos Aires'),
 (1, 'Austria', 'Graz'),
 (1, 'Austria', 'Salzburg'),
 (1, 'Belgium', 'Bruxelles'),
 (1, 'Belgium', 'Charleroi'),
 (1, 'Brazil', 'Campinas'),
 (1, 'Brazil', 'Resende'),
 (3, 'Brazil', 'Rio de Janeiro'),
 (4, 'Brazil', 'São Paulo'),
 (1, 'Canada', 'Montréal'),
 (1, 'Canada', 'Tsawassen'),
 (1, 'Canada', 'Vancouver'),
 (1, 'Denmark', 'København'),
 (1, 'Denmark', 'Århus'),
 (1, 'Finland', 'Helsinki'),
 (1, 'Finland', 'Oulu'),
 (1, 'France', 'Lille'),
 (1, 'France', 'Lyon'),
 (1, 'France', 'Marseille'),
 (2, 'France', 'Nantes'),
 (2, 'France', 'Paris'),
 (1, 'France', 'Reims'),
 (1, 'France', 'Strasbourg'),
 (1, 'France', 'Toulouse'),
 (1, 'France', 'Versailles'),
 (1, 'Germany', 'Aachen'),
 (1, 'Germany', 'Berlin'),
 (1, 'Germany', 'Brandenburg'),
 (1, 'Germany', 'Cunewalde'),
 (1, 'Germany', 'Frankfurt a.M.'),
 (1, 'Germany', 'Köln'),
 (1, 'Germany', 'Leipzig'),
 (1, 'Germany', 'Mannheim'),
 (1, 'Germany', 'München'),
 (1, 'Germany', 'Münster'),
 (1, 'Germany', 'Stuttgart'),
 (1, 'Ireland', 'Cork'),
 (1, 'Italy', 'Bergamo'),
 (1, 'Italy', 'Reggio Emilia'),
 (1, 'Italy', 'Torino'),
 (5, 'Mexico', 'México D.F.'),
 (1, 'Norway', 'Stavern'),
 (1, 'Poland', 'Walla'),
 (2, 'Portugal', 'Lisboa'),
 (1, 'Spain', 'Barcelona'),
 (3, 'Spain', 'Madrid'),
 (1, 'Spain', 'Sevilla'),
 (1, 'Sweden', 'Bräcke'),
 (1, 'Sweden', 'Luleå'),
 (1, 'Switzerland', 'Bern'),
 (1, 'Switzerland', 'Genève'),
 (1, 'UK', 'Cowes'),
 (6, 'UK', 'London'),
 (1, 'USA', 'Albuquerque'),
 (1, 'USA', 'Anchorage'),
 (1, 'USA', 'Boise'),
 (1, 'USA', 'Butte'),
 (1, 'USA', 'Elgin'),
 (1, 'USA', 'Eugene'),
 (1, 'USA', 'Kirkland'),
 (1, 'USA', 'Lander'),
 (2, 'USA', 'Portland'),
 (1, 'USA', 'San Francisco'),
 (1, 'USA', 'Seattle'),
 (1, 'USA', 'Walla Walla'),
 (1, 'Venezuela', 'Barquisimeto'),
 (1, 'Venezuela', 'Caracas'),
 (1, 'Venezuela', 'I. de Margarita'),
 (1, 'Venezuela', 'San Cristóbal')]

In [89]:
%%sql
SELECT * FROM Customers Where Address LIKE "%da%"

 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')]

In [94]:
%%sql
SELECT CustomerName from Customers WHERE Country = "Germany" AND City = "Berlin"

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste',)]

In [99]:
%%sql
SELECT CustomerName FROM Customers WHERE (CustomerName LIKE "%in%") and Country = "Canada";

 * sqlite:///vbo.db
Done.

[('Laughing Bacchus Wine Cellars',)]

In [97]:
%%sql
SELECT CustomerName FROM Customers WHERE CustomerName LIKE '%in%' AND Country = 'Canada';

 * sqlite:///vbo.db
Done.

[('Laughing Bacchus Wine Cellars',)]

In [102]:
%%sql
SELECT ProductName , Price from Products where Price  between 40 AND 90 ORDER BY Price;

 * sqlite:///vbo.db
Done.

[('Northwoods Cranberry Sauce', 40),
 ('Genen Shouyu', 43),
 ('Teatime Chocolate Biscuits', 43),
 ('Guaraná Fantástica', 43),
 ('Schoggi Schokolade', 43),
 ('Geitost', 43),
 ('Boston Crab Meat', 43),
 ('Røgede sild', 43),
 ('Zaanse koeken', 43),
 ('Ravioli Angelo', 43),
 ("Sirop d'érable", 43),
 ('Vegie-spread', 43),
 ('Louisiana Fiery Hot Pepper Sauce', 43),
 ('Rössle Sauerkraut', 45),
 ('Scottish Longbreads', 45),
 ('Ipoh Coffee', 46),
 ('Tarte au sucre', 49),
 ('Manjimup Dried Apples', 53),
 ('Raclette Courdavault', 55),
 ('Carnarvon Tigers', 62),
 ("Sir Rodney's Marmalade", 81)]

In [106]:
%%sql
SELECT ProductName AS urun_ismi, Price AS urun_fiyati,
Price * Price AS urun_fiyatının_karesi FROM Products
WHERE Price >= 30;

 * sqlite:///vbo.db
Done.

[("Uncle Bob's Organic Dried Pears", 30, 900),
 ('Northwoods Cranberry Sauce', 40, 1600),
 ('Mishi Kobe Niku', 97, 9409),
 ('Ikura', 31, 961),
 ('Queso Manchego La Pastora', 38, 1444),
 ('Genen Shouyu', 43, 1849),
 ('Alice Mutton', 39, 1521),
 ('Carnarvon Tigers', 62, 3844),
 ('Teatime Chocolate Biscuits', 43, 1849),
 ("Sir Rodney's Marmalade", 81, 6561),
 ('Guaraná Fantástica', 43, 1849),
 ('Gumbär Gummibärchen', 31, 961),
 ('Schoggi Schokolade', 43, 1849),
 ('Rössle Sauerkraut', 45, 2025),
 ('Thüringer Rostbratwurst', 123, 15129),
 ('Gorgonzola Telino', 435, 189225),
 ('Mascarpone Fabioli', 32, 1024),
 ('Geitost', 43, 1849),
 ('Côte de Blaye', 263, 69169),
 ('Boston Crab Meat', 43, 1849),
 ('Ipoh Coffee', 46, 2116),
 ('Røgede sild', 43, 1849),
 ('Zaanse koeken', 43, 1849),
 ('Manjimup Dried Apples', 53, 2809),
 ('Perth Pasties', 32, 1024),
 ('Gnocchi di nonna Alice', 38, 1444),
 ('Ravioli Angelo', 43, 1849),
 ('Raclette Courdavault', 55, 3025),
 ('Camembert Pierrot', 34, 1156),
 ("Sirop d'érable", 43, 1849),
 ('Tarte au sucre', 49, 2401),
 ('Vegie-spread', 43, 1849),
 ('Wimmers gute Semmelknödel', 33, 1089),
 ('Louisiana Fiery Hot Pepper Sauce', 43, 1849),
 ('Scottish Longbreads', 45, 2025),
 ('Gudbrandsdalsost', 36, 1296),
 ('Mozzarella di Giovanni', 34, 1156)]

In [108]:
%%sql
SELECT * from Products LEFT JOIN Categories ON Categories.CategoryID = Products.CategoryID

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 6, 'Meat/Poultry', 'Prepared meats'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 8, 'Seafood', 'Seaweed and fish'),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21, 4, 'Dairy Products', 'Cheeses'),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38, 4, 'Dairy Products', 'Cheeses'),
 (13, 'Konbu', 6, 8, '2 kg box', 6, 8, 'Seafood', 'Seaweed and fish'),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23, 7, 'Produce', 'Dried fruit and bean curd'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 6, 'Meat/Poultry', 'Prepared meats'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62, 8, 'Seafood', 'Seaweed and fish'),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45, 7, 'Produce', 'Dried fruit and bean curd'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123, 6, 'Meat/Poultry', 'Prepared meats'),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25, 8, 'Seafood', 'Seaweed and fish'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435, 4, 'Dairy Products', 'Cheeses'),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32, 4, 'Dairy Products', 'Cheeses'),
 (33, 'Geitost', 15, 4, '500 g', 43, 4, 'Dairy Products', 'Cheeses'),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19, 8, 'Seafood', 'Seaweed and fish'),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26, 8, 'Seafood', 'Seaweed and fish'),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 43, 8, 'Seafood', 'Seaweed and fish'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23, 8, 'Seafood', 'Seaweed and fish'),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 43, 8, 'Seafood', 'Seaweed and fish'),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12, 8, 'Seafood', 'Seaweed and fish'),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53, 7, 'Produce', 'Dried fruit and bean curd'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32, 6, 'Meat/Poultry', 'Prepared meats'),
 (54, 'Tourtière', 25, 6, '16 pies', 16, 6, 'Meat/Poultry', 'Prepared meats'),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24, 6, 'Meat/Poultry', 'Prepared meats'),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13, 8, 'Seafood', 'Seaweed and fish'),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55, 4, 'Dairy Products', 'Cheeses'),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34, 4, 'Dairy Products', 'Cheeses'),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36, 4, 'Dairy Products', 'Cheeses'),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21, 4, 'Dairy Products', 'Cheeses'),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34, 4, 'Dairy Products', 'Cheeses'),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15, 8, 'Seafood', 'Seaweed and fish'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10, 7, 'Produce', 'Dried fruit and bean curd'),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 27, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')]

In [115]:
%%sql
SELECT AVG(Price) from Products LEFT JOIN Categories ON Categories.CategoryID = Products.CategoryID WHERE CategoryName = "Beverages";

 * sqlite:///vbo.db
Done.

[(42.75,)]

In [121]:
%%sql
SELECT * FROM Customers
LEFT JOIN
(Orders left join(OrderDetails LEFT JOIN Products ON OrderDetail.ProductID = Products.ProductID)
ON Orders.OrderID = OrderDeatils.OrderID)
ON Customers.CustomerID = Orders.OrderID

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such column: OrderDetail.ProductID
[SQL: SELECT * FROM Customers
LEFT JOIN
(Orders left join(OrderDetails LEFT JOIN Products ON OrderDetail.ProductID = Products.ProductID)
ON Orders.OrderID = OrderDeatils.OrderID)
ON Customers.CustomerID = Orders.OrderID]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [122]:
%%sql 
SELECT SUM(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Customers cu on o.CustomerID = cu.CustomerID where cu.Country = 'USA';

 * sqlite:///vbo.db
Done.

[(3762,)]

In [ ]:
AVG(Products.Price)

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such column: Products.Country
[SQL: SELECT * , CategoryName FROM Products LEFT JOIN Categories ON Products.CategoryID = Categories.CategoryID
WHERE Products.Country = "Germany" GROUP BY Categories.CategoryName;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [128]:
%%sql
SELECT ca.CategoryName, AVG(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Categories ca on p.CategoryID = ca.CategoryID 
LEFT JOIN Customers cu on o.CustomerID = cu.CustomerID 
WHERE cu.Country = 'Germany' GROUP BY CategoryName;

 * sqlite:///vbo.db
Done.

[('Beverages', 20.5),
 ('Condiments', 34.0),
 ('Confections', 40.0),
 ('Dairy Products', 151.64705882352942),
 ('Grains/Cereals', 22.142857142857142),
 ('Meat/Poultry', 30.2),
 ('Produce', 30.75),
 ('Seafood', 27.09090909090909)]

In [144]:
%%sql
SELECT AVG(Price) FROM Orders o
LEFT JOIN OrderDetails odr ON o.OrderID = odr.OrderID
LEFT JOIN Products p ON odr.ProductID = p.ProductID
LEFT JOIN Categories ca ON ca.CategoryID = p.CategoryID
Left JOIN Customers cus ON Cus.CustomerID = o.CustomerID
Where cus.Country = "Germany" OR cus.Country = "USA" GROUP BY CategoryName;

 * sqlite:///vbo.db
Done.

[(29.88888888888889,),
 (34.72727272727273,),
 (39.92307692307692,),
 (131.75862068965517,),
 (29.846153846153847,),
 (46.75,),
 (28.625,),
 (25.6,)]

In [145]:
%%sql
SELECT ca.CategoryName, AVG(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Categories ca on p.CategoryID = ca.CategoryID 
LEFT JOIN Customers cu on o.CustomerID = cu.CustomerID 
WHERE cu.Country = 'Germany' OR cu.Country = 'USA' GROUP BY CategoryName;

 * sqlite:///vbo.db
Done.

[('Beverages', 29.88888888888889),
 ('Condiments', 34.72727272727273),
 ('Confections', 39.92307692307692),
 ('Dairy Products', 131.75862068965517),
 ('Grains/Cereals', 29.846153846153847),
 ('Meat/Poultry', 46.75),
 ('Produce', 28.625),
 ('Seafood', 25.6)]

In [147]:
%%sql
SELECT AVG(p.Price) FROM Orders o 
LEFT JOIN OrderDetails od ON o.OrderID = od.OrderID
LEFT JOIN Products p ON p.ProductId = od.ProductID 
WHERE o.OrderDate like "%07%" or o.OrderDate like "%08%" or o.OrderDate like "%09%";

 * sqlite:///vbo.db
Done.

[(39.71891891891892,)]

In [148]:
%%sql
SELECT AVG(Products.Price) 
FROM Products 
LEFT JOIN OrderDetails on OrderDetails.ProductID = products.ProductID 
LEFT JOIN Orders on OrderDetails.OrderID = Orders.OrderID 
WHERE OrderDate like '%07%' or OrderDate like '%08%' or OrderDate like '%09%';

 * sqlite:///vbo.db
Done.

[(39.71891891891892,)]